* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(./assets/BG-IMG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body * {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #F8FAFC;
}

#container {
    border: 1px solid red;
    margin: 67px;
    background-color: #020617;
    opacity: 0.9;
    border-radius: 20px;
    align-items: center;
    justify-content: center;

}

#content {
    text-align: center;
    margin: 60px 267px 204px;
}

#content p {
    font-size: 32px;
    margin-top: 24px;
}

ul {
    list-style: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
    margin-top: 40px;
}

ul li {
    display: block;
    margin: auto;


}

ul li a {
    border: 1px solid #334155;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #0F172A;
    width: 100%vw;
    height: 100%vh;
    padding: 16px 16px;
    border-radius: 16px;
    

}

hr {
    display: flex;
    border-color: #334155;
    margin-top: 40px;
    align-items: center;
    width: 100%vw;
    margin-bottom: 40px;
}

.generator {
    display: flex;
    align-items: center;
}

.generator .link-text {
    margin-left: 24px;
    margin-right: 260px;
}

.generator .link-text2 {
    margin-left: 24px;
    margin-right: 295px;
}
  
.generator .link-text3 {
    margin-left: 24px;
    margin-right: 285px;
}

.generator .link-text4 {
    margin-left: 24px;
    margin-right: 195px;
}



.input-with-svg input {
padding-left: 30px;
background-color: #0F172A;
border-radius: 16px;
width: 1096px;
height: 64px;
border: 1px solid #334155;
background-image: url(./assets/PlusCircle.svg);
background-repeat: no-repeat;
background-position: 16px;
font-family: 'IBM Plex Sans', sans-serif;
padding-left: 64px;


}

.input-with-svg::placeholder {
    color: #F8FAFC;;
}

.input-with-svg {
    display: flex;
    margin-bottom: 60px;
    justify-content: left;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .input-field {
    flex: 1;
    margin-right: 16px;
  }
  
  .input-with-svg svg {
    width: 64px;
    height: 64px
  }
  